<div class="msgmain bg-secondary">

    <div class="messages p-2" *ngFor="let element of messages">
      <div class="message data right msgright" *ngIf="element.userName == userName">
        {{element.userName}} : {{element.message}}
      </div>
      <div class="message data msgleft" *ngIf="element.userName != userName && element.userName != 'NEWUSER'" style="width: 100%;">
        {{element.userName}} : {{element.message}}
      </div>
      <div class="message data text-center" *ngIf="element.userName == 'NEWUSER'" style="width: 100%;">
        {{element.message}}
      </div>
    </div>

  </div>
  <div class="container p-2">
    <form [formGroup]="msgForm" (submit)="msgSubmit()">
      <input type="text" class="mx-1" formControlName="message">
      <button [disabled]="!this.msgForm.valid" mat-raised-button color="accent">Send</button>
    </form>
  </div>