<div class="container-fluid d-flex justify-content-center align-items-center bg-dark" style="height: 100%;">
  <mat-card class="usernameCard" style="width: 360px;" *ngIf="userName == ''">
    <mat-card-title class="text-center">Enter your name</mat-card-title>
    <form [formGroup]="nameForm" (submit)="nameSubmit()">
      <input type="text" class="mx-4" formControlName="name">
      <button [disabled]="nameForm.get('name')?.value == ''" mat-raised-button color="accent">Submit</button>
    </form>
  </mat-card>
  <mat-card *ngIf="userName != ''" class="d-flex flex-row p-0">
    <div class="conatiner d-flex flex-column py-4">
      <a mat-raised-button href="" class="roombtn bg-dark m-2">Room 1</a>
      <a mat-raised-button href="" class="roombtn bg-dark m-2">Room 2</a>
      <a mat-raised-button href="" class="roombtn bg-dark m-2">Room 3</a>
      <a mat-raised-button href="" class="roombtn bg-dark m-2">Room 4</a>
    </div>
    <router-outlet></router-outlet>
  </mat-card>
</div>